.box.is-invisible{data: {target: 'alerts.alertBox'}}
  %article.media
    .media-content
      .content
        %p
          %strong{data: {target: 'alerts.alertTitle'}}
        %div{data: {target: 'alerts.alertBody'}}