%article#artist-info-tile.tile.is-child.box
  .columns.is-desktop
    .column.is-one-quarter
      %figure.image.is-96x96
        %img{src: '', data: {target: 'artist-info.image'}}
    .column
      %p.title{data: {target: 'artist-info.name'}}
      %p.subtitle Artist
  .content
    %strong Followers:
    %span{data: {target: 'artist-info.followers'}}