- data_actions = 'ajax:success->alerts#handleSuccess ajax:error->alerts#handleError'

= form_with url: text_messages_path, data: {action: data_actions} do |form|
  .field
    = form.label :artist, class: :label
    %p.control.has-icons-left.has-icons-right
      = form.text_field(:artist,
                        id: :artist,
                        class: :input,
                        placeholder: 'Queens of the Stone Age',
                        data: {target: 'alerts.input'})
      %span.icon.is-small.is-left
        %i.fas.fa-music
  .field
    = form.label :phone_number, class: :label
    %p.control.has-icons-left.has-icons-right
      = form.telephone_field(:phone_number,
                             id: :phone_number,
                             class: :input,
                             placeholder: '647-445-1141',
                             data: {target: 'alerts.input'})
      %span.icon.is-small.is-left
        %i.fas.fa-mobile-alt
  .field
    %p.control
      = form.submit 'Send Top Track', class: 'button is-dark'