%article#latest-release-tile.tile.is-child.box
  .columns.is-desktop
    .column.is-one-quarter
      %figure.image.is-96x96
        %img{src: '', data: {target: 'artist-info.releaseImage'}}
    .column
      %p.title{data: {target: 'artist-info.releaseName'}}
      %p.subtitle Latest Release
  .content
    %strong Release Date:
    %span{data: {target: 'artist-info.releaseDate'}}
    %br
    %strong Release Type:
    %span{data: {target: 'artist-info.releaseType'}}