%section.hero.is-primary.is-bold
  .hero-body
    .container
      .columns.is-variable.is-6
        .column
          %h1.title
            Spotify Top Tracks
          %h2.subtitle
            Enter an artist. Provide a phone number. Find out their top Spotify track via text.
          %h2
            %strong.has-background-light
              %span.has-text-danger
                Note:
              %span.has-text-dark
                This is a demo app using a Twilio test account. Real text message will not be sent.
        .column
          = render partial: 'form'
        .column
          = render partial: 'alert_box'
%section#artist-section
  .container.is-fluid.is-invisible#artist-container{data: {target: 'artist-info.container'}}
    .tile.is-ancestor
      .tile.is-parent.is-5.is-vertical
        = render partial: 'artist_info'
        = render partial: 'latest_release'
      .tile.is-parent.is-7
        = render partial: 'related_artist_popularity'

