!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %title DemoTape
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
    %script{defer: "defer", src: "https://use.fontawesome.com/releases/v5.3.1/js/all.js"}
  - data_actions = 'ajax:success->artist-info#populate ajax:error->artist-info#hide'
  %body{data: {controller: 'alerts artist-info', action: data_actions}}
    = yield